*.class

#######################
# Java Package Files

*.jar
*.war
*.ear


#######################
# Eclipse Project Files

.classpath
.project


################
# Maven Projects

target/

#################
# Gradle

gradle.properties
.gradle/
build/





